body{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
} 

.input{
    padding:10px;
}

.container {
    border: rgb(192, 192, 192) 2px solid;
    padding: 10px;
	width: 400px;
	height: 520px;
	background-color: white;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.register-btn{
    width: 400px; 
    background-color: #d9534f; 
    border: none; 
    border-radius: 3px; 
    color: white;
    height: 30px;
}

.anchor {
    color: #d9534f;
    text-decoration: none;
}