<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<style>
    body{
    background-image: url('band-bg.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
} 
 
.input{
padding:10px;
}
.container {
    border: rgb(192, 192, 192) 2px solid;
    padding: 10px;
	width: 400px;
	height: 350px;
	background-color: white;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.register-btn{
    width: 400px; 
    background-color: #d9534f; 
    border: none; 
    border-radius: 3px; 
    color: white;
    height: 30px;
}

.anchor {
    color: #d9534f;
    text-decoration: none;
} 
</style>
<body>
    <div class="container">
        <h1 style="text-align: center;"> <i class="fas fa-sign-out-alt"></i> Login</h1> <br>
        <form action="/login" method="POST">
            <label for="email">Email</label> <br>
            <input class="input" type="email" name="email" id="email" size="50" placeholder="newuser@gmail.com" required> <br><br>

            <label for="pass1">Password</label> <br>
            <input class="input" type="password" name="pass1" id="pass1" size="50" placeholder="Password" required> <br><br>

            <button type="submit" class="register-btn">Login</button> <br><br>
        </form>
        Forgot Password? <a class="anchor" href="/reset">Reset Password</a> <br>
        No Account? <a class="anchor" href="/register">Register</a>
    </div>
</body>
</html>